<body>
		<h1>Bears</h1>
		<a href="/photos"/><div class="box">Photos</div></a>
		<a href="/information"><div class="box">Information</div></a>
		<a href="/links"><div class="box">Additional Links</div></a>
	</body>
</html>