<body>
		<h1>Bears</h1>
		<div id="linkbox">
			<h2>Additional Links</h2>
			<div id="linktext">
				<p><a href="http://en.wikipedia.org/wiki/Bear">Wikipedia</a></p>
				<p><a href="http://dictionary.reference.com/browse/bear">Dictionary</a></p>
				<p><a href="http://www.bear.org/website/">North American Bear Center</a></p>
				<p><a href="http://www.bears.org">Bears.org</a></p>
			</div>
			<p><a href="/">Back</a></p>

		</div>
	</body>