<body>
		<h1>Bears</h1>
		<div id="photobox">
			<h2>Photos</h2>
			<a href="bear1.jpg"/><img src="bear1.jpg" width="240px" height="180px"/></a>
			<a href="bear2.jpg"/><img src="bear2.jpg" width="240px" height="180px"/></a>
			<a href="bear3.jpg"/><img src="bear3.jpg" width="240px" height="180px"/></a>
			<a href="bear4.jpg"/><img src="bear4.jpg" width="240px" height="180px"/></a>
			<a href="bear5.jpg"/><img src="bear5.jpg" width="240px" height="180px"/></a>
			<a href="bear6.jpg"/><img src="bear6.jpg" width="240px" height="180px"/></a>
			<p><a href="/">Back</a></p>
		</div>
	</body>
</html>